@import '../../../_common/styles/common.scss';

#banner{
 width: 320px;
 height: 50px;
}



.scale{
	transform-origin: 50% 50%;
}




.t2{
	@include pos-scale(-16, 4, .5);
}



.frame1{
	// opacity: 1;
}


._lime{
	@include pos-scale(300, 19, .5);
}

._lemon{
	@include pos-scale(229, -14, .5);
}
._lemon-ring{
	@include pos-scale(297, -6, .5);
}

.fruit-main{
	@include pos-scale(190, -16, .5);
}