@import '../../../_common/styles/common.scss';

#banner{
 width: 970px;
 height: 250px;
 background-color: #fdf7e6;
}

.frame{
	// opacity: 1;
}

.scale{
	transform-origin: 50% 50%;
}




.t2{
	@include pos-scale(-150, 35, .5);
}



.fruit-12{
	@include pos-scale(750, -50, .5);
}

.fruit-03{
	@include pos-scale(823, 22, .5);
}

.fruit-04{
	@include pos-scale(809, 109, .5);
}

.fruit-07{
	@include pos-scale(645, 130, .5);
}

.fruit-09{
	@include pos-scale(-13, 30, .5);
}

.fruit-10{
	@include pos-scale(684, 29, .5);
}

.fruit-main{
	@include pos-scale(535, -34, .5);
}