@import '../../../_common/styles/common.scss';

#banner{
 width: 320px;
 height: 50px;
 background-color: #fdf7e6;
}

.frame1{
	// opacity: 1;
}


.scale{
	transform-origin: 50% 50%;
}




.t2{
	@include pos-scale(-34, -1, .5);
}






.fruit-03{
	@include pos-scale(300, -7, .5);
}

.fruit-09{
	@include pos-scale(216, -10, .5);
}

