@import '../../../_common/styles/common.scss';

#banner{
 width: 320px;
 height: 50px;
 background-color: #fdf7e6;
}



.scale{
	transform-origin: 50% 50%;
}

.t1{
	// opacity: 0;
}


.t2{
	@include pos-scale(-16, 4, .5);
}



.frame1{
	// opacity: 1;
}

.fruit1{
	@include pos-scale(216, -12, .5);
}
.fruit2{
	@include pos-scale(299, -5, .5);
}
.fruit-main{
	
	@include pos-scale(180, -16, .5);
}