@import '../../../_common/styles/common.scss';

#banner{
 width: 320px;
 height: 50px;
 background-color: #fdf7e6;
}



.scale{
	transform-origin: 50% 50%;
}


.t1{
	// opacity: 0
}

.t2{
	@include pos-scale(-24, -10, .5);
}



.frame1{
	// opacity: 1;
}


.fruit1{
	@include pos-scale(221, -7, .5);
}

.fruit2{
	@include pos-scale(297, 13, .5);
}



.fruit-main{
	@include pos-scale(191, -16, .5);
}