@import '../../../_common/styles/common.scss';

#banner{
 width: 300px;
 height: 600px;
 background-color: #fdf7e6;
}

.frame{
	// opacity: 1;
}

.scale{
	transform-origin: 50% 50%;
}




.t2{
	@include pos-scale(-9, -34, .5);
}



.fruit-12{
	@include pos-scale(99, 194, .5);
}

.fruit-03{
	@include pos-scale(187, 281, .5);
}

.fruit-04{
	@include pos-scale(171, 384, .5);
}

.fruit-07{
	@include pos-scale(-25, 411, .5);
}

.fruit-09{
	@include pos-scale(20, 290, .5);
}

.fruit-main{
	@include pos-scale(-19, 156, .5);
}